// ---------------
// VARIABLES
// ---------------

// Color variables
$color-blue-900     :    rgba(10,21,43,1);
$color-blue-800     :    rgba(20,42,87,1);
$color-blue-700     :    rgba(30,63,130,1);
$color-blue-600     :    rgba(40,84,174,1);
$color-blue-500     :    rgba(50,105,217,1);
$color-blue-400     :    rgba(91,135,225,1);
$color-blue-300     :    rgba(112,150,228,1);
$color-blue-200     :    rgba(153,180,236,1);
$color-blue-100     :    rgba(194,210,244,1);
$color-blue-50      :    rgba(235,240,251,1);
$color-golden       :    rgba(242,216,87,1);
$color-white        :    rgba(255,255,255,1);
$color-grey-500     :    rgba(35,44,64,1);
$color-grey-400     :    rgba(59,68,85,1);
$color-grey-300     :    rgba(108,115,128,1);
$color-grey-200     :    rgba(157,161,170,1);
$color-grey-100     :    rgba(206,208,213,1);
$color-grey-50      :    rgba(231,232,234,1);

// size variable
$size-xs         :   0.5rem; // 8px
$size-s          :   1rem;   // 16px
$size-m          :   1.5rem; // 24px
$size-ml         :   2rem;   // 24px
$size-l          :   2.5rem; // 40px
$size-xl         :   3rem;   // 48px
$size-xxl        :   4rem;   // 64px

// line-height variable
$lh-xs         :   1rem;
$lh-s          :   1.5rem;
$lh-m          :   2rem;
$lh-ml         :   2.5rem;
$lh-l          :   3rem; 
$lh-xl         :   3.5rem;
$lh-xxl        :   4.5rem;

// Font variables
$font-main         :   "Open Sans", sans-serif;
$font-secondary    :   "Maven Pro", sans-serif;
$font-size         :   1rem;
